<div class="index-page_edit">
  <%= link_to programminglogs_path do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
  <div class="content__title">
    投稿の編集
  </div>

  <%= form_with model: @programminglog, class: :form, local: true do |f|%>
    <%= f.text_field :title, placeholder: :タイトル, class: :form__title %>
    <%= f.file_field :image, placeholder: :画像, class: :form__image, id: "file" %>
    <%= f.text_area :text, placeholder: :本文, class: :form__text %>
    <%= f.submit '編集する', class: :submit__btn %>
  <% end %>
</div>