<div class="index-page_show">
  <div class="back-icon">
    <%= link_to programminglogs_path do %>
    <i class="fas fa-arrow-left"></i>
    <% end %>
  </div> 

  <div class="showpage">
    <div class="prologimage">
      <%=  link_to @programminglog.image.url, 'data-lightbox': @programminglog.image do %>
        <%= image_tag @programminglog.image.url %>
      <% end %>
    </div> 

    <div class="prolog-overrall">
      <div class="prolog-all">
        <div class="prologtitle">
          <%= @programminglog.title %>
        </div>  
        <% @programminglog.tag_list.each do |tag| %>
          <span style="background-color: #EEEEEE; color: #666666; border-radius: 5px; padding: 5px"><%= tag %></span>
        <% end %>
        <div class="prologdate">
          <%= @programminglog.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
        </div>
        <% if user_signed_in? && current_user.id == @programminglog.user_id %>
          <div class="prolog">
            <%= link_to "編集", edit_programminglog_path(@programminglog.id), class: "prolog__edit" %>
            <%= link_to "削除", programminglog_path(@programminglog.id), method: :delete, class: "prolog__delete" %>
          </div>
        <% end %>
          <div class="prologtext">
            <%= simple_format @programminglog.text %>
          </div>
          <div id="likes_buttons_<%= @programminglog.id %>">
            <%= render partial: 'likes/like', locals: { programminglog: @programminglog, likes: @likes} %>
          </div>
    </div>
  </div>

</div>
