<div class="showpage">
    <div class="prologtitle">
      <%= @programminglog.title %>
    </div>
    
      <%= link_to @programminglog.image, "data-lightbox" => @programminglog.image do %>
        <%= image_tag @programminglog.image, height: '900', :style=>"width:900;"%>
      <% end %>
    

    <div class="prologdate">
      <%= @programminglog.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
    </div>
    <div class="prologauthor">
    </div>
  <% if user_signed_in? && current_user.id == @programminglog.user_id %>
    <div class="prolog">
      <%= link_to "編集", edit_programminglog_path(@programminglog.id), class: "prolog__edit" %>
      <%= link_to "削除", programminglog_path(@programminglog.id), method: :delete, class: "prolog__delete" %>
    </div>
  <% end %>
    <div class="prologtext">
      <%= simple_format @programminglog.text %>
    </div>
</div>

